POSTGRES_USER=FMA_CoexCA03
POSTGRES_PASSWORD=A8a377c8c.,681
POSTGRES_DB=FMA_CoexCA03-Meteorological

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

FLASK_APP=src/app.py
DATABASE_URL=postgresql://username:password@localhost:5432/example
