[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
utils = "*"
flask-migrate = "*"
flask-swagger = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
